<html>
<head>
	<title>Gossip - The Gossip Project</title>
</head>
<body>
	<h1>Bienvenue sur la page du potin n°<%= id %></h1>
	
	<p>Son auteur : <%= gossips.fetch(id - 1 ).gossip_author %><br>
		
		Le potin balancé : <%= gossips.fetch(id - 1).gossip_content %>
		

	</p>
	<p>
		<a href="/">Page des potins</a>
		
	</p>

</body>
</html>
